@font-face {
    font-family: 'fontproject';
    src: url('./fonts/fontawesome-webfont.woff')
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 100%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

header {
    background-image: url(./images/banner3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20%;
    padding-bottom: 15%;
}

header>h2 {
    color: white;
    text-align: center;
    margin-top: 5%;
}

header>a {
    display: block;
    text-decoration: none;
    background: rgba(52, 107, 226, 1);
    width: 30%;
    font-size: 1.2rem;
    border-radius: 25px;
    color: white;
    text-align: center;
    padding: 1%;
    margin: 50px auto;
}

nav {
    width: 90%;
    margin: 0 auto;
}

nav>h1 {
    margin-top: 18px;
    text-align: center;
    padding: 2px;
    margin-bottom: 10px;
}

nav>h1>span {
    color: orange;
    border: 3px solid grey;
    border-right: none;
    padding-left: 5px;
}

nav>h1>span.grey {
    color: grey;
    border: none;
}

nav>ul {
    background: lightblue;
}

nav>ul>li {
    list-style-type: none;
    text-align: center;
    padding: 4px;
}

nav>ul>li>a {
    text-decoration: none;
    text-align: center;
    color: white;
    display: block;
}

main {
    width: 90%;
    margin: 0 auto;
}

main>section>h2 {
    text-align: center;
    padding: 4px;
    text-decoration: underline;
    margin-bottom: 4%;
    margin-top: 5%;
}

main>section>article {
    width: 90%;
    margin: 0 auto;
}

main>section>article>h3 {
    text-align: left;
    color: lightblue;
    margin-bottom: 4%;
}

main>section>article>p {
    text-align: left;
    padding-left: 5px;
    line-height: 139%;
    margin-bottom: 4%;
}

main>section>article>ul {
    padding: 4px;
    margin-left: 4%;
}

main>section>article>ul>li {
    list-style-image: url(./images/arrow_bullet.png);
    padding: 1%;
    color: grey;
}

main>section>img {
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}