#container {
    width: 70%;
    margin: 0 auto;
    
    
}

h1 {
    text-align: center;
}


.img1 {
    position: relative;
    top: 50px;
    left: 100px;
    margin-bottom: 50px;
}


.img2 {
    position: absolute;
    right: 10px;
    top: 15px;
}

.img3 {
    position: absolute;
    bottom: 0px;
    right: 50%;
}

.backtothetop {
    position: fixed;
    bottom: 0px;
    right: 0px;
    font-size: 1.7em;
}