body {
    background-image: url(https://orig00.deviantart.net/2af2/f/2009/034/4/d/stonehenge_xp_16_9_wallpaper_by_fishboxen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(209, 238, 255);
 
    
}
h1{
    color: darkblue;
}